body{
    background-color: #333;
    color: #fff;
}
.box{
  width: 100%;
   position: relative;
   text-align: center;
   padding: 0;
   margin: 0;
}
.fixed-bg{
   background-image: url("../img/pubg-2.jpg");
   height: 700px;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
.image-text {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
}
.image-text h1{
  font-weight: 800;
  font-size: 3rem;
  text-transform: uppercase;
}
.image-text p{
  font-size: 2rem;
}

.main{
  width: 80%;
  margin: 3rem auto;
}
.box{
  opacity: 0.7;
  background-color: #f7f7f7;
  color: #333;
  min-height: 100px;
  margin: .5rem;
  border-radius: 5px;
  display: none;
  text-align: left;
}
.box div{
  margin: 1em;
  width: 100%;
}
#solo h2, #duo h2, #squad h2{
    width: 100%;
    text-align: center;
}
#solo div,#duo div, #squad div {
  width: 25%;
}

button[type="submit"]{
  margin-top: 1em;
}
.list li{
  opacity: 0.7;
  background-color: #f7f7f7;
  color: #333;
  min-height: 100px;
  border-radius: 5px;
  cursor: pointer;
  padding: .25em;
}

#loading{
  display: none;
}
